<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
      <!--<ol class="breadcrumb">
        <li routerLink="/" class="pointer"><a><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>-->
    </section>
   
    <section class="content">
      <!-- Info boxes -->
      <div class="row ">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-bell"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Total de Pendientes</span>
              <span class="info-box-number">0</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-grey"><i class="fa fa-pie-chart"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">% FRFT</span>
              <span class="info-box-number">0</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-clock-o"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Promedio tiempo de respuesta</span>
              <span class="info-box-number">0</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-grey"><i class="fa fa-circle-o-notch"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Promedio tiempo de solución</span>
              <span class="info-box-number">0</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
<div class="row container-fluid">
<div class="row">
  <div class="col-md-12">
    <h2>
      Filtros
    </h2>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-select placeholder="Garantía" name="garantia" (selectionChange)="onFilterConfigChanged(FILTER_WARRANTY, $event.value);">
          <mat-option *ngFor="let value of warrantyValues" [value]="value.id == 1 ? true : false">
            {{ value.desc_garantia }}
          </mat-option>
          <mat-option [value]="'null'">Todos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col-md-3">
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="myDatepicker" placeholder="Fecha de inicio" [max]="maxDateFirst" (dateChange)="changeDate('DATE_INIT', $event)">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="myDatepicker2" placeholder="Fecha de fin" [min]="minDateEnd" (dateChange)="changeDate('DATE_END', $event)">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-select placeholder="Tipo de servicio" name="tipoDeServicio" (selectionChange)="onServiceTypeChanged($event.value);">
          <input type="text" [(ngModel)]="userFilter" style="width: 100%;" placeholder="Filtro" >
          <mat-option *ngFor="let value of serviceValues | filterBy: userFilter" [value]="value.id">
            {{ value.desc_tipo_servicio }}
          </mat-option>
          <mat-option [value]="'null'">Todos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-select placeholder="Sub Tipo de servicio" name="tipoDeServicio" (selectionChange)="onFilterConfigChanged(FILTER_SUB_SERVICE, $event.value);">
          <mat-option *ngFor="let value of subServiceValues" [value]="value.id">
            {{ value.sub_desc_tipo_servicio }}
          </mat-option>
          <mat-option [value]="'null'">Todos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-select placeholder="Tipo de Técnico" name="tipoDeTecnico" (selectionChange)="onTechnicTypeChanged($event.value);">
          <mat-option *ngFor="let value of technicValues" [value]="value.id">
            {{ value.desc_tipo }}
          </mat-option>
          <mat-option [value]="'null'">Todos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-select placeholder="Sub Tipo de servicio" name="subTipoDeServicio" (selectionChange)="onFilterConfigChanged(FILTER_SUB_TECHNIC, $event.value);">
          <mat-option *ngFor="let value of subTechnicValues" [value]="value.id">
            {{ value.sub_desc_tipo }}
          </mat-option>
          <mat-option [value]="'null'">Todos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="col-md-3" >
    <div class="form-group">
      <mat-form-field class="full-width">
        <mat-select placeholder="Técnico" name="tecnico" (selectionChange)="onFilterConfigChanged(FILTER_TECNICO, $event.value);">
          <mat-option *ngFor="let value of data_tecnicos" [value]="value.id">
            {{ value.tecnico }}
          </mat-option>
          <mat-option [value]="'null'">Todos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 pull-right">
    <span class="input-group-btn">
      <button type="button" class="pull-center btn btn-default btn-default-rojo" (click)="onFilterClicked();">
        Filtrar
      </button>
    </span>
  </div>
</div>

</div>
      <div class="row">
        <hr class="divider" />
      </div>

      <div class="row">
        <div class="col-md-6">
          <!-- Box - Quantity -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Servicios Pendientes</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="chart" style="height:230px">
                <canvas #barChartQuantity>{{ barChartQuantityChart }}</canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <!-- Box - First Visit #1 -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Reparación en Primera Visita</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="chart" style="height:230px">
                <canvas #pieChartFirstVisit>{{ pieChartFirstVisitChart }}</canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <!-- Box - Response Time -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Tiempo de respuesta</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="chart" style="height:230px">
                <canvas #pieChartResponseTime>{{ pieChartResponseTimeChart }}</canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <!-- Box - First Visit #2 -->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">NPS</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="chart" style="height:230px">
                <canvas #barChartFirstVisitTwo>{{ barChartFirstVisitTwoChart }}</canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      </section>
  </div>
  
  