<div class="content-wrapper">
    <br class="visible-xs" />
    <br class="visible-xs" />
    <form #verservicioForm="ngForm">
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title negritas">Nueva queja</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="col-md-12" style="padding:0;">
                  <label >Nombre del cliente</label><br />
                  <span><!--{{cliente.nombre}} {{cliente.paterno}} {{cliente.materno}}--></span><br /><br />
                </div>
                <div class="col-md-12" style="padding:0;">
                  <div class="example-container mat-elevation-z4">
                    <mat-table #table [dataSource]="dataSource_Historial">
  
                      <ng-container matColumnDef="check">
                        <mat-header-cell *matHeaderCellDef fxFlex="30" fxFlex.gt-xs="15" fxFlex.gt-sm="20">
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index" fxFlex="30" fxFlex.gt-xs="15" fxFlex.gt-sm="20">
                          <mat-checkbox (change)="set_servicio($event, row, i)" [checked]="row.checked">
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>
  
                      <!-- Folio Column -->
                      <ng-container matColumnDef="#Servicio">
                        <mat-header-cell *matHeaderCellDef> NO. SERVICIO </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.id_servicio}} </mat-cell>
                      </ng-container>
  
                      <!-- Position Column -->
                      <ng-container matColumnDef="Fecha">
                        <mat-header-cell *matHeaderCellDef fxFlex="30" fxFlex.gt-xs="15" fxFlex.gt-sm="20"> FECHA DE SERVICIO </mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="30" fxFlex.gt-xs="15" fxFlex.gt-sm="20"> <span>{{element.fecha_servicio}}</span> </mat-cell>
                      </ng-container>
  
                      <!-- Name Column -->
                      <ng-container matColumnDef="Estatus">
                        <mat-header-cell *matHeaderCellDef> ESTATUS </mat-header-cell>
                        <mat-cell *matCellDef="let element"> <span>{{element.desc_estatus_servicio}}</span> </mat-cell>
                      </ng-container>
  
                      <mat-header-row *matHeaderRowDef="displayedColumnsHistorial"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumnsHistorial;">
                      </mat-row>
                    </mat-table>
                    <mat-paginator #paginator
                                   [pageSize]="5"
                                   [pageSizeOptions]="[5, 10]">
                    </mat-paginator>
                  </div>
                </div>
                <div class="col-md-12" style="padding:0;">
                  <mat-form-field class="full-width">
                    <textarea matInput type="text" id="queja_queja" name="queja_queja" [(ngModel)]="queja" #queja_queja="ngModel" placeholder="Escribir queja"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-12" style="padding:0; margin-bottom:25px">
                  <div class="col-md-4" style="padding-left:0;">
                    <mat-form-field class="full-width">
                      <input type="text" [textMask]="{mask: mask_telefono, guide: false}" matInput id="telefono" name="telefono"  placeholder="Teléfono">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Tipo de queja" id="tipoqueja" name="tipoqueja" #tipoqueja="ngModel" [(ngModel)]="tipo_queja">
                        <mat-option *ngFor="let value of tipoqueja_contact; trackBy: index;" [value]="value.id">
                          {{value.nombre | uppercase}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4" style="padding-right:0;">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Canal" id="canal" name="canal" #canal="ngModel" [(ngModel)]="canal_contact">
                        <mat-option *ngFor="let value of canales; trackBy: index;" [value]="value.id">
                          {{value.nombre | uppercase}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-12" style="padding:0; margin-bottom:15px">
                  <mat-form-field class="full-width">
                    <textarea matInput id="propuesta" name="propuesta" [(ngModel)]="propuesta_queja" #propuesta="ngModel" placeholder="Propuesta"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-12" style="padding:0; margin-bottom:15px">
                  <mat-form-field class="full-width">
                    <textarea matInput id="propuesta" name="propuesta" [(ngModel)]="cierre" #propuesta="ngModel" placeholder="Detalle de cierre"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-12 text-center" style="margin-bottom:25px">
                  <button type="submit" class="pull-center btn btn-default btn-default-rojo" (click)='guardar_queja()'>Guardar queja</button><!--[disabled]="validform"-->
                </div>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
      </section>
      <!-- /.content -->
    </form>
  </div>
  